$gap: 10px;

.section {
  display: flex;
  padding: 20px;
  gap: $gap;
  user-select: none;

  .seat-row-column {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    user-select: none;
  }
}

.seat-area {
  gap: 30px;
  margin: 10px;
}

.seat-number-top,
.seat-number-bottom {
  // grid-area: 'seat-number-top';
  display: flex;
  box-sizing: border-box;
}

.seat-number-top {
  margin-top: $gap;
}

.seat-number-bottom {
  margin-top: $gap;
}

.seat {
  display: grid;
  gap: $gap;
  grid-area: 'seat';
  .seat-row {
    display: grid;
    // gap: $gap;
    // grid-template-columns: repeat(25, 10px);
  }
}

.row-line {
  width: 100%;
  border: 2px solid red;
}
.column-line {
  height: 100%;
  border: 2px solid black;
}

.drag-container {
  width: 0;
  height: 0;
  background: rgba($color: lightblue, $alpha: 0.5);
  // border: 2px solid rgba(0, 168, 224);
  // border: 2px solid black;
  position: fixed;
}

.seat-area-hover {
  border: 1.5px solid lightgreen !important;
}

.seat-row {
  .seat-not-selected {
    background-color: white;
    border: 1.5px solid #adadad;
  }
  .seat-disabled {
    background: rgb(243 243 243);
    border: 1.5px solid #d9d9d9;
    cursor: not-allowed !important;
  }
  .seat-locked {
    background: white;
    border: 1.5px solid #f402e4;
    color: black;
  }

  .seat-selceted {
    background-color: orange;
    border: 1.5px solid orange;
    color: white;
  }
  .seat-sold {
    background-color: white;
    border: 1.5px solid purple;
    color: black;
  }
}

.seat-state {
  display: flex;
  gap: 30px;
  margin: 10px;
  justify-content: center;
  img {
    vertical-align: sub;
  }
  span:nth-of-type(1) {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 4px;
  }
  .seat-available span:nth-of-type(1) {
    border: 1.5px solid #adadad;
  }
  .seat-locked span:nth-of-type(1) {
    border: 1.5px solid #f402e4;
  }
  .seat-sold span:nth-of-type(1) {
    border: 1.5px solid purple;
  }
  .seat-disabled span:nth-of-type(1) {
    background: rgb(243 243 243);
    border: 1.5px solid #d9d9d9;
    cursor: not-allowed !important;
  }
}
