:root {
  --todo-list-border: 1px solid #d7d7d7;
}
.nav-container {
  width: 100%;
  height: 50px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  font-size: 24px;
}

.screening-container {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  position: relative;
  min-width: 100%;
}

.hour-container,
.table-container {
  border-collapse: collapse;
  // width: 100%;

  th,
  td {
    height: 50px;
    border: var(--todo-list-border);
    text-align: center;
  }
}

.hour-container {
  width: 40px;
  th,
  td {
    width: 40px;
    min-width: 40px;
    border-right-width: 0px;
  }
}

.table-container {
  th,
  td {
    min-width: 200px;
    width: 200px;
  }
}
.right-table {
  td {
    border-left-width: 0;
    border-right: var(--todo-list-border);
  }
}

.show-list-container {
  position: relative;
  min-width: 100%;

  .todo {
    height: 180px;
    // border: 2px solid red;
    border-radius: 4px;
    position: absolute;
    background: #eee;
    top: 10px;
    left: 50px;
    padding: 10px;
    // font-size: 14px;
    line-height: 22px;
    min-width: 200px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    .movie-title {
      // font-weight: bold;
      font-size: 16px;
    }
    ul {
      margin-top: 10px;
    }
  }
}

.timeline {
  width: 100%;
  height: 1px;
  background: red;
  position: absolute;
  top: 0px;
  left: 0px;
}
