$size: 20px;
$gap: 5px;

.section {
  display: grid;
  padding: 0;
  grid-template-columns: $size 1fr;
}
.seat-row-number {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: $size;
  gap: $gap;
}
.seat-container {
  padding: 0;
  display: grid;
  gap: $gap;
  .seat-row {
    display: grid;
    grid-template-rows: $size;
    gap: $gap;
    .seat-row-column {
      display: grid;
      gap: $gap;
      align-items: center;
      justify-content: center;
    }
  }
}
