.nav-hour {
  display: flex;
  background: rgba($color: #000000, $alpha: 0.5);
  border-radius: 15px;
  flex-direction: column;
  position: absolute;
  right: 30px;
  padding: 10px 4px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
}
.table-header {
  display: grid;
  // background: black;
  z-index: 10;
  border-top: var(--todo-list-border);
  border-left: var(--todo-list-border);
  border-right: var(--todo-list-border);
  border-bottom: var(--todo-list-border);

  li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 0;
    border-right: var(--todo-list-border);
    &:nth-last-of-type(1) {
      border-right: none;
    }
  }
}
.table-container {
  tr td {
    width: 150px;
  }
}
.nav-container {
  border-top: var(--todo-list-border);

  border-left: var(--todo-list-border);
  border-right: var(--todo-list-border);

  li {
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  li:nth-of-type(2) {
    width: 100%;
    border-left: var(--todo-list-border);
    border-right: var(--todo-list-border);
  }
}
.todo-top {
  position: sticky;
  top: -21px;
  left: 0;
  background-color: white;
  z-index: 100;
}
.show-list-container {
  margin-top: -1px;
}
