.button-cell {
  padding: 0 !important;
  .button-table {
    display: grid;
    grid-template-columns: 100px 150px auto 165px;
    text-align: center;
  }
  .button-table-cell {
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    padding: 8px;
  }
}
